name: receive_dispatch

on:
  repository_dispatch:
    types: [test]

jobs:
  receive:
    runs-on: ubuntu-latest
    steps:
      - name: Print payload
        run: |
          echo "Ref: ${{ github.event.client_payload.ref }}"
          echo "SHA: ${{ github.event.client_payload.sha }}"